/*IF Smaller screen*/
@media only screen and (max-width: 768px) {
  body {
    background-color: #dad717;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    width: 90%;
    grid-area: nb;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 35px 0px 0px 25px;
    border: none;
    padding: 0%;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0%;
    margin-top: 0px;
    height: 185px;
    font-size: 15px;
    list-style: none;
    align-items: center;
  }
  .navbar a {
    font-size: 12px;
  }
  .navbar h1 {
    font-size: 18px;
    margin: 10px;
  }
  .navbar img {
    display: none;
  }
  .buttonshadowred {
    min-width: 80px;
    height: 18px;
  }

  .container {
    display: grid;
    width: 90%;
    grid-template-areas:
      "nb"
      "hd"
      "sb"
      "ct"
      "ft";
    grid-template-columns: 340px;
    grid-template-rows: 107px 115px 290px 530px 273px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .feature {
    width: 195px;
    height: 20px;
    font-size: 18px;
    padding: 0px 0px 11px 1px;
  }
  .header h1 {
    grid-area: hd;
    width: 100%;
    grid-area: hd;
    font-size: 15px;
  }
  .content {
    grid-area: ct;
    width: 90%;
    background: none;
  }
  .content img {
    height: 310px;
    width: 340px;
    margin: 0px;
  }
  h3 {
    font-size: 16px;
  }
  .sidebar {
    grid-area: sb;
    display: flex;
    width: 90%;
    height: 465px;
    margin: 0px 0px 0px 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .feature h3 {
    font-size: 20px;
  }
  .sidebar a {
    padding-top: 10px;
    font-size: 14px;
  }
  .sidebar img {
    display: flex;
    width: 250px;
    height: 250px;
  }
  .footer {
    margin: 0%;
    background-color: none;
  }

  .footer-header {
    color: #312d2d;
    font-size: 14px;
    margin-left: 20px;
  }
  .footer ul {
    gap: 6px;
    height: 25px;
    margin: 25px 0px 5px 0px;
    padding: 0%;
  }
  div.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .wrapper .box {
    background: none;
    width: 119px;
  }
  .wrapper a {
    color: #dc1b1b;
    font-size: 12px;
  }
  .wrapper a:hover {
    color: #2b2626;
  }
  .footer img {
    width: 25px;
    height: 25px;
  }
}

/* If larger screen*/
@media only and (min-width: 769) and (max-width: 1024px) {
  .container {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    font-size: larger;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 90px 600px 300px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sb sb sb sb ct ct ct ct"
      "ft ft ft ft ft ft ft ft";
  }
}
